.btn-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.max-width-40 {
    max-width: 40%;
}
.max-width-60 {
    max-width: 60%;
}
.font-size-09 {
    font-size: 0.9rem;
}
.font-size-095 {
    font-size: 0.95rem;
}
.max-height-ranking {
    max-height: calc(100vh - 158px);
}
.min-width-13em {
    min-width: 13em;
}
.max-width-8em {
    max-width: 8em;
}