#pranking {
    max-width: 40%;
    max-height: calc(100vh - 158px);
}
#pdetail {
    max-width: 60%;
    max-height: calc(100vh - 158px);
    font-size: 0.9rem;
}
.btn-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.pname {
    font-size: 0.95rem;
}
.pokedetails {
    min-width: 13em;
}
.inputdate {
    max-width: 8em;
}