<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>エラー</title>
<style>
	table {border-collapse: collapse;width: 500px;}
	td {border: 1px solid black;padding-left:5px;}
</style>
</head>
エラーが発生しました…<br>
何もしてないのにエラーになった！という場合はお手数ですが、下記の情報を添えて<br>
<a href="https://twitter.com/TripleUsage" target="_blank">Twitterのトリプルデータベース公式アカウント</a>もしくは<br>
<a href="https://docs.google.com/forms/d/191-zCOx_QK5PNsE5l1W5SUEbxDfHB0TD9AlwT31mfUY/edit?hl=JA" target="_blank">お問い合わせフォーム</a>もしくは<br>
<a href="https://marshmallow-qa.com/tripleusage" target="_blank">マシュマロ</a>もしくは<br>
メールアドレス:tripleusagepokemon@gmail.comまでお知らせください。<br>
<strong>※ターン管理ツール・マーキングメモツールは別のサイトに移動してあります！→<a href="https://keitei115.github.io/tool/toolmenu.html" target="_blank">こちらです</a></strong><br>
<a href="/ranking">ランキングフォームに戻る</a><br>

<body>
<table style>
<tr><td>timestamp</td><td th:text="${timestamp}"></td></tr>
<tr><td>status</td><td th:text="${status}"></td></tr>
<tr><td>error</td><td th:text="${error}"></td></tr>
<tr><td>exception</td><td th:text="${exception}"></td></tr>
<tr><td>message</td><td th:text="${message}"></td></tr>
<tr><td>errors</td><td th:text="${errors}"></td></tr>
<tr><td>path</td><td th:text="${path}"></td></tr>
</body>
</html>