<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>form</title>
</head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
    <meta name="viewport" content="width=device-width">
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center mw-100">
        <div class="container-fluid">
            <a class="navbar-brand" href="/overview">トリプルフリーデータベース</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/ranking">使用率ランキング</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/form">パーティ投稿フォーム</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/overview">このサイトについて</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <form method="post" th:object="${pokeForm}" class=" center-block">
        <div class="container-fluid font-size-09 center-block">
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-danger" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        注意点(クリックで開きます)
                    </button>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <ul>
                                <li>一部のフォルム違いのポケモンは名前の後に以下の文字を入れて区別し記入します。</li>
                                <ul>
                                    <li>デオキシス - ノーマルフォルム・アタックフォルム・ディフェンスフォルム・スピードフォルム：N・D・A・S</li>
                                    <li>ミノマダム - くさきのミノ・すなちのミノ・ゴミのミノ：草・砂・鋼</li>
                                    <li>ロトム - 通常・ヒート・ウォッシュ・フロスト・スピン・カット：霊・炎・水・氷・飛・草</li>
                                    <li>シェイミ - ランド・スカイ:草・飛</li>
                                    <li>ボルトロス・トルネロス・ランドロス - けしんフォルム・れいじゅうフォルム：化・霊</li>
                                    <li>キュレム - 通常・ホワイト・ブラック：通・白・黒</li>
                                    <li>ニャオニクス - ♂・♀：♂・♀</li>
                                    <li>バケッチャ・パンプジンのサイズ小～特大：小・中・大・特大</li>
                                    <li>フーパ - いましめられし・ときはなたれし:霊・悪</li>
                                </ul>
                                <li>アルセウスのような持ち物によってフォルムチェンジするポケモン、メグキジカのような見た目だけ変わるポケモンは区別しません。</li>
                                <li>1体のポケモンに採用している技が4個以下であった場合、"なし(1枠目)"~"なし(3枠目)"を順に入力していきます。</li>
                                <ul>
                                    <li>例1:ニンフィア:ハイパーボイス・ねごと・なし(1枠目)・なし(2枠目)</li>
                                    <li>例2:アンノーン:めざめるパワー(エスパー)・なし(1枠目)・なし(2枠目)・なし(3枠目)</li>
                                </ul>
                                <li>めざめるパワーは"めざめるパワー(ほのお)"のようにタイプも必ず入力してください。</li>
                                <li>ガルーラナイト、リザードナイトXのようなメガストーンを持たせる場合は"メガストーン"、"メガストーンX"、"メガストーンY"と入力してください。</li>
                                <li>持ち物を持たせない場合は"持ち物なし"と入力してください。</li>
                                <li>入力した内容が間違ってる場合は入力欄が赤くなります。正確に入力してください。</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 m-1">
                    ポケモン① @ もちもの<br>
                    <input type="text" name="p1" list="plist" placeholder="ポケモン" th:value="*{p1}" th:errorclass="error">
                    <input type="text" name="i1" list="ilist" placeholder="もちもの" th:value="*{i1}" th:errorclass="error"><br>
                    特性 - 性格<br>
                    <input type="text" name="a1" list="alist" placeholder="特性" th:value="*{a1}" th:errorclass="error">
                    <input type="text" name="n1" list="nlist" placeholder="性格" th:value="*{n1}" th:errorclass="error"><br>
                    技1 - 技2 - 技3 - 技4<br>
                    <input type="text" name="m1_1" list="mlist" placeholder="わざ１" th:value="*{m1_1}" th:errorclass="error">
                    <input type="text" name="m1_2" list="mlist" placeholder="わざ２" th:value="*{m1_2}" th:errorclass="error"><br>
                    <input type="text" name="m1_3" list="mlist" placeholder="わざ３" th:value="*{m1_3}" th:errorclass="error">
                    <input type="text" name="m1_4" list="mlist" placeholder="わざ４" th:value="*{m1_4}" th:errorclass="error"><br>
                </div>
                <div class="col-lg-4 m-1">
                    ポケモン② @ もちもの<br>
                    <input type="text" name="p2" list="plist" placeholder="ポケモン" th:value="*{p2}" th:errorclass="error">
                    <input type="text" name="i2" list="ilist" placeholder="もちもの" th:value="*{i2}" th:errorclass="error"><br>
                    特性 - 性格<br>
                    <input type="text" name="a2" list="alist" placeholder="特性" th:value="*{a2}" th:errorclass="error">
                    <input type="text" name="n2" list="nlist" placeholder="性格" th:value="*{n2}" th:errorclass="error"><br>
                    技1 - 技2 - 技3 - 技4<br>
                    <input type="text" name="m2_1" list="mlist" placeholder="わざ１" th:value="*{m2_1}" th:errorclass="error">
                    <input type="text" name="m2_2" list="mlist" placeholder="わざ２" th:value="*{m2_2}" th:errorclass="error"><br>
                    <input type="text" name="m2_3" list="mlist" placeholder="わざ３" th:value="*{m2_3}" th:errorclass="error">
                    <input type="text" name="m2_4" list="mlist" placeholder="わざ４" th:value="*{m2_4}" th:errorclass="error"><br>
                </div>
                <div class="col-lg-4 m-1">
                    ポケモン③ @ もちもの<br>
                    <input type="text" name="p3" list="plist" placeholder="ポケモン" th:value="*{p3}" th:errorclass="error">
                    <input type="text" name="i3" list="ilist" placeholder="もちもの" th:value="*{i3}" th:errorclass="error"><br>
                    特性 - 性格<br>
                    <input type="text" name="a3" list="alist" placeholder="特性" th:value="*{a3}" th:errorclass="error">
                    <input type="text" name="n3" list="nlist" placeholder="性格" th:value="*{n3}" th:errorclass="error"><br>
                    技1 - 技2 - 技3 - 技4<br>
                    <input type="text" name="m3_1" list="mlist" placeholder="わざ１" th:value="*{m3_1}" th:errorclass="error">
                    <input type="text" name="m3_2" list="mlist" placeholder="わざ２" th:value="*{m3_2}" th:errorclass="error"><br>
                    <input type="text" name="m3_3" list="mlist" placeholder="わざ３" th:value="*{m3_3}" th:errorclass="error">
                    <input type="text" name="m3_4" list="mlist" placeholder="わざ４" th:value="*{m3_4}" th:errorclass="error"><br>
                </div>
                <div class="col-lg-4 m-1">
                    ポケモン④ @ もちもの<br>
                    <input type="text" name="p4" list="plist" placeholder="ポケモン" th:value="*{p4}" th:errorclass="error">
                    <input type="text" name="i4" list="ilist" placeholder="もちもの" th:value="*{i4}" th:errorclass="error"><br>
                    特性 - 性格<br>
                    <input type="text" name="a4" list="alist" placeholder="特性" th:value="*{a4}" th:errorclass="error">
                    <input type="text" name="n4" list="nlist" placeholder="性格" th:value="*{n4}" th:errorclass="error"><br>
                    技1 - 技2 - 技3 - 技4<br>
                    <input type="text" name="m4_1" list="mlist" placeholder="わざ１" th:value="*{m4_1}" th:errorclass="error">
                    <input type="text" name="m4_2" list="mlist" placeholder="わざ２" th:value="*{m4_2}" th:errorclass="error"><br>
                    <input type="text" name="m4_3" list="mlist" placeholder="わざ３" th:value="*{m4_3}" th:errorclass="error">
                    <input type="text" name="m4_4" list="mlist" placeholder="わざ４" th:value="*{m4_4}" th:errorclass="error"><br>
                </div>
                <div class="col-lg-4 m-1">
                    ポケモン⑤ @ もちもの<br>
                    <input type="text" name="p5" list="plist" placeholder="ポケモン" th:value="*{p5}" th:errorclass="error">
                    <input type="text" name="i5" list="ilist" placeholder="もちもの" th:value="*{i5}" th:errorclass="error"><br>
                    特性 - 性格<br>
                    <input type="text" name="a5" list="alist" placeholder="特性" th:value="*{a5}" th:errorclass="error">
                    <input type="text" name="n5" list="nlist" placeholder="性格" th:value="*{n5}" th:errorclass="error"><br>
                    技1 - 技2 - 技3 - 技4<br>
                    <input type="text" name="m5_1" list="mlist" placeholder="わざ１" th:value="*{m5_1}" th:errorclass="error">
                    <input type="text" name="m5_2" list="mlist" placeholder="わざ２" th:value="*{m5_2}" th:errorclass="error"><br>
                    <input type="text" name="m5_3" list="mlist" placeholder="わざ３" th:value="*{m5_3}" th:errorclass="error">
                    <input type="text" name="m5_4" list="mlist" placeholder="わざ４" th:value="*{m5_4}" th:errorclass="error"><br>
                </div>
                <div class="col-lg-4 m-1">
                    ポケモン⑥ @ もちもの<br>
                    <input type="text" name="p6" list="plist" placeholder="ポケモン" th:value="*{p6}" th:errorclass="error">
                    <input type="text" name="i6" list="ilist" placeholder="もちもの" th:value="*{i6}" th:errorclass="error"><br>
                    特性 - 性格<br>
                    <input type="text" name="a6" list="alist" placeholder="特性" th:value="*{a6}" th:errorclass="error">
                    <input type="text" name="n6" list="nlist" placeholder="性格" th:value="*{n6}" th:errorclass="error"><br>
                    技1 - 技2 - 技3 - 技4<br>
                    <input type="text" name="m6_1" list="mlist" placeholder="わざ１" th:value="*{m6_1}" th:errorclass="error">
                    <input type="text" name="m6_2" list="mlist" placeholder="わざ２" th:value="*{m6_2}" th:errorclass="error"><br>
                    <input type="text" name="m6_3" list="mlist" placeholder="わざ３" th:value="*{m6_3}" th:errorclass="error">
                    <input type="text" name="m6_4" list="mlist" placeholder="わざ４" th:value="*{m6_4}" th:errorclass="error"><br>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    日:<input type="date" name="d" id="d" th:value="*{d}" th:errorclass="error"><br>
                    <input type="submit" value="クリック">
                </div>
            </div>
        </div>
    </form>

        <datalist id="plist">
            <option th:each="p : ${pokemonlist}" th:value="${p}" th:label="${p}"></option>
        </datalist>
        <datalist id="ilist">
            <option th:each="i : ${itemlist}" th:value="${i}" th:label="${i}"></option>
        </datalist>
        <datalist id="alist">
            <option th:each="a : ${abilitylist}" th:value="${a}" th:label="${a}"></option>
        </datalist>
        <datalist id="nlist">
            <option th:each="n : ${naturelist}" th:value="${n}" th:label="${n}"></option>
        </datalist>
        <datalist id="mlist">
            <option th:each="m : ${moveslist}" th:value="${m}" th:label="${m}"></option>
        </datalist>

<style>
    input.error {
        background-color: rgb(255, 147, 147);
    }
    input.normal {
        background-color: white;
    }
    .max-width-90vh {
        max-width: 90vh;
    }
    .font-size-09 {
        font-size: 0.9rem;
    }
</style>

<script>
    window.onload = function() {
        var today = new Date();
        today.setDate(today.getDate());
        var y = today.getFullYear();
        var m = ("0" + (today.getMonth() + 1)).slice(-2);
        var d = ("0" + today.getDate()).slice(-2);
        document.getElementById("d").value = y + "-" + m + "-" + d;
    }
</script>