<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>form</title>
</head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
<body>
    <form method="post" th:object="${pokeForm}">
        <input type="text" name="p1" list="plist" placeholder="ポケモン" th:value="*{p1}" th:errorclass="error">
        @<input type="text" name="i1" list="ilist" placeholder="アイテム" th:value="*{i1}" th:errorclass="error"><br>
        <input type="text" name="a1" list="alist" placeholder="特性" th:value="*{a1}" th:errorclass="error">
        <input type="text" name="n1" list="nlist" placeholder="性格" th:value="*{n1}" th:errorclass="error"><br>
        <input type="text" name="m1_1" list="mlist" placeholder="わざ１" th:value="*{m1_1}" th:errorclass="error">
        <input type="text" name="m1_2" list="mlist" placeholder="わざ２" th:value="*{m1_2}" th:errorclass="error"><br>
        <input type="text" name="m1_3" list="mlist" placeholder="わざ３" th:value="*{m1_3}" th:errorclass="error">
        <input type="text" name="m1_4" list="mlist" placeholder="わざ４" th:value="*{m1_4}" th:errorclass="error"><br>
<br>
        <input type="text" name="p2" list="plist" placeholder="ポケモン" th:value="*{p2}" th:errorclass="error">
        @<input type="text" name="i2" list="ilist" placeholder="アイテム" th:value="*{i2}" th:errorclass="error"><br>
        <input type="text" name="a2" list="alist" placeholder="特性" th:value="*{a2}" th:errorclass="error">
        <input type="text" name="n2" list="nlist" placeholder="性格" th:value="*{n2}" th:errorclass="error"><br>
        <input type="text" name="m2_1" list="mlist" placeholder="わざ１" th:value="*{m2_1}" th:errorclass="error">
        <input type="text" name="m2_2" list="mlist" placeholder="わざ２" th:value="*{m2_2}" th:errorclass="error"><br>
        <input type="text" name="m2_3" list="mlist" placeholder="わざ３" th:value="*{m2_3}" th:errorclass="error">
        <input type="text" name="m2_4" list="mlist" placeholder="わざ４" th:value="*{m2_4}" th:errorclass="error"><br>
<br>
        <input type="text" name="p3" list="plist" placeholder="ポケモン" th:value="*{p3}" th:errorclass="error">
        @<input type="text" name="i3" list="ilist" placeholder="アイテム" th:value="*{i3}" th:errorclass="error"><br>
        <input type="text" name="a3" list="alist" placeholder="特性" th:value="*{a3}" th:errorclass="error">
        <input type="text" name="n3" list="nlist" placeholder="性格" th:value="*{n3}" th:errorclass="error"><br>
        <input type="text" name="m3_1" list="mlist" placeholder="わざ１" th:value="*{m3_1}" th:errorclass="error">
        <input type="text" name="m3_2" list="mlist" placeholder="わざ２" th:value="*{m3_2}" th:errorclass="error"><br>
        <input type="text" name="m3_3" list="mlist" placeholder="わざ３" th:value="*{m3_3}" th:errorclass="error">
        <input type="text" name="m3_4" list="mlist" placeholder="わざ４" th:value="*{m3_4}" th:errorclass="error"><br>
<br>
        <input type="text" name="p4" list="plist" placeholder="ポケモン" th:value="*{p4}" th:errorclass="error">
        @<input type="text" name="i4" list="ilist" placeholder="アイテム" th:value="*{i4}" th:errorclass="error"><br>
        <input type="text" name="a4" list="alist" placeholder="特性" th:value="*{a4}" th:errorclass="error">
        <input type="text" name="n4" list="nlist" placeholder="性格" th:value="*{n4}" th:errorclass="error"><br>
        <input type="text" name="m4_1" list="mlist" placeholder="わざ１" th:value="*{m4_1}" th:errorclass="error">
        <input type="text" name="m4_2" list="mlist" placeholder="わざ２" th:value="*{m4_2}" th:errorclass="error"><br>
        <input type="text" name="m4_3" list="mlist" placeholder="わざ３" th:value="*{m4_3}" th:errorclass="error">
        <input type="text" name="m4_4" list="mlist" placeholder="わざ４" th:value="*{m4_4}" th:errorclass="error"><br>
<br>
        <input type="text" name="p5" list="plist" placeholder="ポケモン" th:value="*{p5}" th:errorclass="error">
        @<input type="text" name="i5" list="ilist" placeholder="アイテム" th:value="*{i5}" th:errorclass="error"><br>
        <input type="text" name="a5" list="alist" placeholder="特性" th:value="*{a5}" th:errorclass="error">
        <input type="text" name="n5" list="nlist" placeholder="性格" th:value="*{n5}" th:errorclass="error"><br>
        <input type="text" name="m5_1" list="mlist" placeholder="わざ１" th:value="*{m5_1}" th:errorclass="error">
        <input type="text" name="m5_2" list="mlist" placeholder="わざ２" th:value="*{m5_2}" th:errorclass="error"><br>
        <input type="text" name="m5_3" list="mlist" placeholder="わざ３" th:value="*{m5_3}" th:errorclass="error">
        <input type="text" name="m5_4" list="mlist" placeholder="わざ４" th:value="*{m5_4}" th:errorclass="error"><br>
<br>
        <input type="text" name="p6" list="plist" placeholder="ポケモン" th:value="*{p6}" th:errorclass="error">
        @<input type="text" name="i6" list="ilist" placeholder="アイテム" th:value="*{i6}" th:errorclass="error"><br>
        <input type="text" name="a6" list="alist" placeholder="特性" th:value="*{a6}" th:errorclass="error">
        <input type="text" name="n6" list="nlist" placeholder="性格" th:value="*{n6}" th:errorclass="error"><br>
        <input type="text" name="m6_1" list="mlist" placeholder="わざ１" th:value="*{m6_1}" th:errorclass="error">
        <input type="text" name="m6_2" list="mlist" placeholder="わざ２" th:value="*{m6_2}" th:errorclass="error"><br>
        <input type="text" name="m6_3" list="mlist" placeholder="わざ３" th:value="*{m6_3}" th:errorclass="error">
        <input type="text" name="m6_4" list="mlist" placeholder="わざ４" th:value="*{m6_4}" th:errorclass="error"><br>

        日:<input type="date" name="d" id="d" th:value="*{d}" th:errorclass="error"><br>

        <input type="submit" value="クリック">
        </form>

        <datalist id="plist">
            <option th:each="p : ${pokemonlist}" th:value="${p}" th:label="${p}"></option>
        </datalist>
        <datalist id="ilist">
            <option th:each="i : ${itemlist}" th:value="${i}" th:label="${i}"></option>
        </datalist>
        <datalist id="alist">
            <option th:each="a : ${abilitylist}" th:value="${a}" th:label="${a}"></option>
        </datalist>
        <datalist id="nlist">
            <option th:each="n : ${naturelist}" th:value="${n}" th:label="${n}"></option>
        </datalist>
        <datalist id="mlist">
            <option th:each="m : ${moveslist}" th:value="${m}" th:label="${m}"></option>
        </datalist>

<style>
    input.error {
        background-color: rgb(255, 147, 147);
    }
    input.normal {
        background-color: white;
    }
</style>

<script>
    window.onload = function() {
        var today = new Date();
        today.setDate(today.getDate());
        var y = today.getFullYear();
        var m = ("0" + (today.getMonth() + 1)).slice(-2);
        var d = ("0" + today.getDate()).slice(-2);
        document.getElementById("d").value = y + "-" + m + "-" + d;
    }
</script>