<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>トリプルフリーデータベース</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
    <meta name="viewport" content="width=device-width">
</head>
<body class="bg-primary bg-opacity-10">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/overview"><img border="0" src="/img/favicon.png">トリプルフリーデータベース</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/ranking">使用率ランキング</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/form">パーティ投稿フォーム</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/overview">このサイトについて</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/TripleUsage">Twitter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 rounded bg-light max-width-60em shadow-sm m-1 px-0">
                <h4 class="p-3 mb-1">トリプルフリーデータベースへようこそ！</h3>
                <p class="p-3 mb-2">
                    このサイトは、トリプルフリーにおけるポケモンのデータを集めているサイトです。<br>
                    上部の<strong>使用率ランキング</strong>からポケモンのデータの確認を、
                    <strong>パーティ投稿フォーム</strong>から使用したパーティのデータの投稿ができます。<br>
                </p>
                <hr width="95%" class="mb-2 mx-auto">
                <h6 class="p-3 mb-1">使用率ランキングについて</h6>
                <p class="p-3 mb-2">
                    パーティ投稿フォームで集められたポケモンの使用率・技や性格といった情報を、かつて存在したPGLのようにランキング形式で表示しています。<br>
                    <ul>
                    <li>使用率</li>
                    <li>技</li>
                    <li>持ち物</li>
                    <li>特性</li>
                    <li>性格</li>
                    <li>同じパーティに入ってるポケモン</li>
                    </ul></p>
                <p class="p-3 mb-2">
                    といった情報を見ることができます。<br>
                    また、期間を指定したランキングを表示することもできます。<br>
                </p>
                <hr width="95%" class="mb-2 mx-auto">
                <h6 class="p-3 mb-1">パーティ投稿フォームについて</h6>
                <p class="p-3 mb-2">
                    パーティ投稿フォームは、使用したパーティのデータを投稿するためのフォームです。<br>
                    <ul>
                    <li>ポケモン</li>
                    <li>技</li>
                    <li>持ち物</li>
                    <li>特性</li>
                    <li>性格</li>
                    <li><strong>使用を開始した日付</strong></li>
                    </ul></p>
                <p class="p-3 mb-2">
                    についてお書きください。<br>
                    皆様の投稿が増えることでより充実したデータを作ることができます。<br>
                    よろしくお願いします！<br>
                </p>
                <hr width="95%" class="mb-2 mx-auto">
                <h6 class="p-3 mb-1">Q&A</h6>
                <p class="p-3 mb-2">
                    <ol>
                        <li class="Q">トリプルフリーで出会った相手のパーティやブログに上がっている構築もフォームに投稿していいですか？</li>
                        <li class="A"><strong>パーティの投稿は使用した本人</strong>、もしくは代理投稿を頼まれたor代理投稿の許可を取った人のみお願いします。(情報の秘匿や、被りなどによるトラブルを防ぐため)</li>
                    </ol>
                    <ol>
                        <li class="Q">禁止伝説や幻のポケモンが入ったパーティを投稿していいですか？</li>
                        </li>
                        <li class="A">トリプルフリーで使用したパーティなら大丈夫です。</li>
                    </ol>
                    <ol>
                        <li class="Q">パーティを投稿するとき、フォルムチェンジしたポケモンや特殊な持ち物などはどう入力すればいいですか？</li>
                        <li class="A">以下に示します。(フォームにも同じ内容が記載されてます)</li>
                    </ol>
                    <ul>
                        <li>ポリゴン2、Vジェネレートなどの数字・英字は半角で入力してください。</li>
                        <li>一部のフォルム違いのポケモンは名前の後に以下の文字を入れて区別し入力します。</li>
                        <ul>
                            <li>デオキシス - ノーマル・アタック・ディフェンス・スピード→N・D・A・S</li>
                            <li>ミノマダム - くさき・すなち・ゴミ→草・砂・鋼</li>
                            <li>ロトム - 通常・ヒート・ウォッシュ・フロスト・スピン・カット→霊・炎・水・氷・飛・草</li>
                            <li>シェイミ - ランド・スカイ→草・飛</li>
                            <li>ボルトロス・トルネロス・ランドロス - けしん・れいじゅう→化・霊</li>
                            <li>キュレム - 通常・ホワイト・ブラック→通・白・黒</li>
                            <li>ニャオニクス - オスのすがた・メスのすがた→♂・♀</li>
                            <li>バケッチャ・パンプジンのサイズ小～特大→小・中・大・特</li>
                            <li>フーパ - いましめられし・ときはなたれし→霊・悪</li>
                        </ul>
                        <li>アルセウスのような持ち物によってフォルムチェンジするポケモン、メブキジカのような見た目だけ変わるポケモンは区別しません。</li>
                        <li>1体のポケモンに採用している技が4個以下であった場合、"なし(1枠目)"~"なし(3枠目)"を順に入力していきます。</li>
                        <ul>
                            <li>例1:ニンフィア:ハイパーボイス・ねごと・なし(1枠目)・なし(2枠目)</li>
                            <li>例2:アンノーン:めざめるパワー(エスパー)・なし(1枠目)・なし(2枠目)・なし(3枠目)</li>
                        </ul>
                        <li>めざめるパワーは"めざめるパワー(ほのお)"のようにタイプも必ず入力してください。</li>
                        <li>ガルーラナイト、リザードナイトYのようなメガストーンを持たせる場合は"メガストーン"、"メガストーンX"、"メガストーンY"と入力してください。</li>
                        <li>あなぬけのヒモのような効果のない持ち物を持たせる場合は"その他"と入力してください。</li>
                        <li>持ち物を持たせない場合は"持ち物なし"と入力してください。</li>
                        <li>入力した内容が間違ってる場合は入力欄が赤くなります。正確に入力してください。</li>
                    </ul>
                    <ol>
                        <li class="Q">パーティはどのタイミングでフォームに投稿すればいいですか？</li>
                        <li class="A">トリプルフリーで使った経験のあるパーティならば、投稿のタイミング自体はいつでも構いません。(『使用を開始した日付』に気をつけて投稿してください)</li>
                    </ol>
                    <ol>
                        <li class="Q">パーティの内容(ポケモン、持ち物や技)を変更したのですがフォームに投稿すべきですか？</li>
                        <li class="A"><strong>使用ポケモンを1匹でも変更した場合は投稿していただけますと助かります。</strong>持ち物や技といった細部を変えただけの場合は投稿する・しないどちらでも大丈夫です。</li>
                    </ol>
                    <ol>
                        <li class="Q">大会やフレンド対戦で使ったパーティや、レート時代に使っていたパーティも投稿してもよろしいですか？</li>
                        <li class="A">トリプルフリーでは使わず、大会やフレンド対戦<strong>のみ</strong>で使ったパーティは投稿しないようにお願いします。レート時代のパーティは投稿可能です。</li>
                    </ol>
                    <ol>
                        <li class="Q">管理人はどんなパーティを投稿したのか見れるのでは？/マイナーなポケモンの場合はどんなパーティを組んでいるかもバレてしまうのでは？</li>
                        <li class="A">はい、見ることが出来ます。ただし、積極的な閲覧・使用はしませんので、ご理解いただけますと幸いです。</li>
                    </ol>
                    <ol>
                        <li class="Q">マイナーなポケモンの場合は、『同じパーティに入ってるポケモン』からどんなパーティを組んでいるかもバレてしまうのでは？</li>
                        <li class="A"><strong>バレます。</strong>情報を秘匿したい場合は投稿しないことをオススメします。</li>
                    </ol>
                    <ol>
                        <li class="Q">パーティ投稿フォームに間違った内容を記入して投稿してしまいました…</li>
                        <li class="A"><a href="https://twitter.com/TripleUsage" target="_blank">Twitterのトリプルデータベース公式アカウント</a>もしくはメールアドレスtripleusagepokemon☆gmail.com(☆を@に置き換えてください)まで、修正したい内容と共に報告をお願いします。</li>
                    </ol>
                    <ol>
                        <li class="Q">バグ？に遭遇しました。/エラー画面が発生しました。/ランキングの内容がおかしいです。</li>
                        <li class="A"><a href="https://twitter.com/TripleUsage" target="_blank">Twitterのトリプルデータベース公式アカウント</a>もしくはメールアドレスtripleusagepokemon☆gmail.com(☆を@に置き換えてください)まで報告お願いします。</li>
                    </ol>
                <p class="p-3 mb-2">
                </p>
            </div>
        </div>
    </div>
</body>
<style>
    .overflow-auto {
        overflow: auto;
    }
    .max-width-60em {
        max-width: 60em;
    }
    .Q {
        list-style-type: "Q.";
    }
    .A {
        list-style-type: "A.";
    }
</style>