<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>result</title>
</head>
<body>
    <form method="post">
        <table>
            <tr th:each="pokemon , stat : ${pokeranking}">
                <td th:text="${stat.count}"></td>
                <td><input type="submit" name="name" th:value ="${pokemon.name}"></td>
            </tr>
        </table>
    </form>

    <table>
        <tr th:each="item , stat : ${itemranking}">
            <td th:text="${stat.count}"></td>
            <td th:text="${item.item}"></td>
            <td th:text="${#numbers.formatDecimal(item.itemtotal, 1, 1)}"></td>
        </tr>
    <br>
        <tr th:each="move , stat : ${moveranking}">
            <td th:text="${stat.count}"></td>
            <td th:text="${move.move}"></td>
            <td th:text="${#numbers.formatDecimal(move.movetotal, 1, 1)}"></td>
        </tr>
    <br>
        <tr th:each="nature , stat : ${natureranking}">
            <td th:text="${stat.count}"></td>
            <td th:text="${nature.nature}"></td>
            <td th:text="${#numbers.formatDecimal(nature.naturetotal, 1, 1)}"></td>
        </tr>
    </table>