<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>result</title>
</head>
<body>
    <form method="post">
        <table>
            <input type="date" name="before" value="2014-11-21"> ~ <input type="date" name="after" id="d" th:value="${after}">
            <input type="submit" value="クリック" name = "date">
            <tr th:each="pokemon , stat : ${pokeranking}">
                <td th:text="${stat.count}"></td>
                <td><input type="submit" name="name" th:value ="${pokemon.name}"></td>
            </tr>
        </table>
    </form>

    <p th:text="${before}"></p> ~ <p th:text="${after}"></p>
    <table>
        <tr th:each="item , stat : ${itemranking}">
            <td th:text="${stat.count}"></td>
            <td th:text="${item.item}"></td>
            <td th:text="${#numbers.formatDecimal(item.itemtotal, 1, 1)}"></td>
        </tr>
    <br>
        <tr th:each="move , stat : ${moveranking}">
            <td th:text="${stat.count}"></td>
            <td th:text="${move.move}"></td>
            <td th:text="${#numbers.formatDecimal(move.movetotal, 1, 1)}"></td>
        </tr>
    <br>
        <tr th:each="nature , stat : ${natureranking}">
            <td th:text="${stat.count}"></td>
            <td th:text="${nature.nature}"></td>
            <td th:text="${#numbers.formatDecimal(nature.naturetotal, 1, 1)}"></td>
        </tr>
    </table>

    <script>
        window.onload = function() {
            var today = new Date();
            today.setDate(today.getDate());
            var y = today.getFullYear();
            var m = ("0" + (today.getMonth() + 1)).slice(-2);
            var d = ("0" + today.getDate()).slice(-2);
            document.getElementById("d").value = y + "-" + m + "-" + d;
        }
    </script>