<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>トリプルフリーデータベース</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/turn_counter.min.css}"/>
    <script defer th:src="@{/js/turn_counter.min.js}"></script>

<body class="bg-primary bg-opacity-10">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/overview"><img border="0" class="w-auto h-auto" src="/img/favicon.png">トリプルフリーデータベース</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/ranking">使用率ランキング</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/form">パーティ投稿フォーム</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/overview">このサイトについて</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/turn_counter">ターン管理ツール</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/marking">マーキングメモツール</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/TripleUsage">Twitter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row justify-content-center" style="max-width: 90vw;">
        <div class="col-md-3 bg-info bg-gradient rounded" style="text-align: center; max-width: 90vw;">
            <h2>6世代・BDSP用ターン管理ツール</h2>
        </div>
    </div>
    <table oncontextmenu="return false;">
        <tbody>
            <tr>
                <th colspan="2" class="front">味方</th>
                <th colspan="2" class="field">場の状況</th>
                <th colspan="2" class="back">相手</th>
            </tr>
            <tr>
                <td class="name front">追い風</td>
                <td id="disp_tailwind_back" class="disp front">0</td>
                <td class="name field">トリル</td>
                <td id="disp_trickroom" class="disp field">0</td>
                <td class="name back">追い風</td>
                <td id="disp_tailwind_front" class="disp back">0</td>
            </tr>
            <tr>
                <td id="btn_tailwind_back" colspan="2" class="start">開始</td>
                <td id="btn_trickroom" colspan="2" class="start">開始</td>
                <td id="btn_tailwind_front" colspan="2" class="start">開始</td>
            </tr>
            <tr>
                <td class="name front">リフレクター</td>
                <td id="disp_reflect_back" class="disp front">0</td>
                <td class="name field">天候</td>
                <td id="disp_weather" class="disp field">0</td>
                <td class="name back">リフレクター</td>
                <td id="disp_reflect_front" class="disp back">0</td>
            </tr>
            <tr>
                <td colspan="2" id="btn_reflect_back" class="start">開始</td>
                <td colspan="2" id="btn_weather" class="start">開始</td>
                <td colspan="2" id="btn_reflect_front" class="start">開始</td>
            </tr>
            <tr>
                <td class="name front">光の壁</td>
                <td id="disp_lightscreen_back" class="disp front">0</td>
                <td class="name field">ﾌｨｰﾙﾄﾞ</td>
                <td id="disp_field" class="disp field">0</td>
                <td class="name back">光の壁</td>
                <td id="disp_lightscreen_front" class="disp back">0</td>
            </tr>
            <tr>
                <td colspan="2" id="btn_lightscreen_back" class="start front">開始</td>
                <td colspan="2" id="btn_field" class="start front">開始</td>
                <td colspan="2" id="btn_lightscreen_front" class="start back">開始</td>
            </tr>
            <tr>
                <td class="name front">神秘の守り</td>
                <td id="disp_safeguard_back" class="disp front">0</td>
                <td class="name field">ターン</td>
                <td id="disp_turn" class="disp field turn">1</td>
                <td class="name back">神秘の守り</td>
                <td id="disp_safeguard_front" class="disp back">0</td>
            </tr>
            <tr>
                <td colspan="2" id="btn_safeguard_back" class="start">開始</td>
                <td colspan="2" rowspan="3" id="btn_count" class="count field">ターン<br>経過</td>
                <td colspan="2" id="btn_safeguard_front" class="start">開始</td>
            </tr>
            <tr>
                <td class="name front">湿原</td>
                <td id="disp_swamp_back" class="disp front">0</td>
                <td class="name back">湿原</td>
                <td id="disp_swamp_front" class="disp back">0</td>
            </tr>
            <tr>
                <td colspan="2" id="btn_swamp_back" class="start">開始</td>
                <td colspan="2" id="btn_swamp_front" class="start">開始</td>
            </tr>
            <tr>
                <td colspan="2" id="btn_brick_break_back" class="start stop">瓦割り</td>
                <td colspan="2" id="btn_reset" class="reset">リセット</td>
                <td colspan="2" id="btn_brick_break_front" class="start stop">瓦割り</td>
            </tr>
        </tbody>
    </table>
    <div class="row justify-content-center" style="max-width: 95vw;">
        <div class="col-md-6">
            <button type="button" class="btn btn-danger" data-bs-toggle="collapse" data-bs-target="#collapseattention" aria-expanded="false" aria-controls="collapseattention">
                注意点(クリックで開きます)
            </button>
            <div class="collapse" id="collapseattention">
                <div class="card card-body">
                <a id=chuiten><br>※注意点</a>
                <a>
                    リフレクター、光の壁、天候が0ターンになっても「延長」ボタンが「開始」ボタンにならないのは仕様です<br>
                    リフレクター等が再起動したり別の天候に変わった際にボタンが「延長」になっている場合は、
                    一旦「延長」ボタンを押すと「再起動」ボタンになるので「再起動」ボタンを押してください<br>
                    また、ボタンを右クリック(スマホでは長押し)するとそれぞれ個別にカウントできます
                </a><br>
                </div>
            </div>
        </div>
</body>

</html>